# 13.함수 적용

In [8]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col = '지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [9]:
#df['키'] = df['키'] + 'cm' # int + str 안됨

##  데이터에 함수 적용(apply)

In [10]:
def add_cm(height):
    return str(height) + 'cm'

df['키'] = df['키'].apply(add_cm) #키 데이터
df

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190cm  100   85   90  95  95          C#

In [11]:
def capitalize(lang):
    if pd.notnull(lang):  #Nan이 아닌지 확인
        return lang.capitalize()
    
    return lang

df['SW특기'] = df['SW특기'].apply(capitalize)
df

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      Python
8번    윤대협  능남고  190cm  100   85   90  95  95          C#

In [12]:
# 똑같은 결과가 나온다.
df['SW특기'] = df['SW특기'].str.capitalize()
df

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      Python
8번    윤대협  능남고  190cm  100   85   90  95  95          C#